body {
  margin: 0;
  padding: 0;
  background: #524a4e;
  color: #fdeff4;
  font-family: sans-serif;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='rgba(31%2c 34%2c 34%2c 1)'%3e%3c/rect%3e%3cpath d='M-247.02 431.51C-59.94 445.69 125.83 800.93 397.75 815.51 669.67 830.09 634.41 930.78 720.14 932.57' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-20.06 520.24C99.27 520.8 213.31 620.24 446.68 620.24 680.05 620.24 671.82 518.08 913.42 520.24 1155.02 522.4 1235.48 851.79 1380.16 870.54' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-215.22 298.91C-31.01 310.83 139.21 629.26 429.44 658.91 719.67 688.56 644.84 931.32 751.77 952.12' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-161.92 275.5C26.04 283.34 140.78 578.18 519.14 595.5 897.51 612.82 1009.77 929.29 1200.21 938.82' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-177.45 215.96C-8.4 221.86 90.19 466.7 442.06 487.96 793.94 509.22 877.86 872.06 1061.58 889.06' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

h2 {
  font-family: sans-serif;
  color: rgb(221, 204, 204);
  margin-bottom: 30px;
  margin-top: 30px;
  margin: 10px 0;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
}
p {
  color: white;
}

h1,
h2,
h3 {
  color: white;
}

a {
  color: white;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
/*error section*/
.error-feedback {
  color: red;
}
.success-feedback {
  color: green;
}
/*sign-up login css*/
.card {
  width: 390px;
  height: 480px;
  background-image: linear-gradient(163deg, #0e161f 0%, #2b67a6 100%);
  border-radius: 20px;
  transition: all 0.3s;
  padding: 0px;
  /* margin: 8% auto 0; */
}
.card2 {
  /* width: 391px; */
  height: 481px;
  border-radius: 20px;
  transition: all 0.2s;
  padding: 0px;
}

.card2:hover {
  transform: scale(0.97);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}
.response-box {
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  border: 1px solid #a1b57d;
}
.terms {
  text-decoration: #00ff75;
  color: #00ff75;
}

.authentication-form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81vh; /* This ensures the container takes up the full height of the viewport */
}

/* Profile styles */
.profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 20px;
}

.avatar img {
  width: 100px;
  border-radius: 50%;
}
.avatar {
  margin-right: 20px;
}

.avatar img {
  width: 100px;
  border-radius: 50%;
}

.user-details p {
  margin-bottom: 10px;
}

.user-details p strong {
  margin-right: 5px;
}
/*home css this is for the router-links*****************************************/
.rule {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.rule button {
  padding: 1.3em 1.2em;
}
/*i dont know why the info list is still showing in here duplicate try to find out why  */
.Info-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.info-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.global-info {
  flex: 1;
}
.showbtn {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.Menu-btn {
  background-color: #ffc107;
  color: #000;
  border: 1px solid #ffc107;
}
.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
}
.norestadded {
  background: red;
  padding: 1rem 1rem;
}
.mycla {
  display: flex;
  justify-content: space-between;
}
.button-container {
  display: flex;
  align-items: center;
}
/*delete css */
.delete-form {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.delete-form input[type="text"] {
  /* width: calc(100% - 22px); */
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  background: #ededed;
}

/*////////////for the delete all pop up ///////////////////*/
/* Styles for the delete confirmation popup container */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the delete confirmation popup */
.popup {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #b90000;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1px;
}

/* Styles for the buttons in the delete confirmation popup */
.popup button {
  margin: 0 10px;
  padding: 14px 25px;
  border-radius: 4px;
  cursor: pointer;
}
.body {
  background-color: tan;
  color: rgb(14, 0, 93);
}
/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  .body {
    background-color: blue;
    color: white;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  .body {
    background-color: olive;
    color: white;
  }
  .info-list {
    flex-direction: column;
  }
  /* Original styles */
  .Info-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .button-container {
    justify-content: center;
  }
}
